mixin number(value, text, options)
	divClass = options.class ? 'widget number ' + options.class : 'widget number'
	div(id=options.id, class=options.class ? 'number ' + options.class : 'number')
		p(class='value') #{value}
		p(class='text') #{text}